.popup-add__container {
  display: flex;
  position: relative;
  background-color: #fff;
  min-width: 430px;
  min-height: 330px;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (max-width: 568px) {
  .popup-add__container {
    padding: 25px 22px;
    min-width: 282px;
    width: 100%;
    min-height: 322px;
  }
}
