.popup-add__toggle {
  position: absolute;
  cursor: pointer;
  max-width: 32px;
  max-height: 32px;
  background-color: transparent;
  border: 0;
  transition: opacity .3s;
  right: -40px;
  top: -40px;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 568px) {
  .popup-add__toggle {
    top: -40px;
    right: 0;
    align-self: flex-end;
  }
}

.popup-add__toggle:hover {
  opacity: .6;
}
