.element__remove {
  background-color: transparent;
  border: 0;
  position: absolute;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 20px;
  padding: 0;
  width: 18px;
  height: 19px;
  transition: opacity .3s;
}

.element__remove:hover {
  opacity: .6;
}
