.popup-pic__toggle {
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  max-width: 32px;
  max-height: 32px;
  background-color: transparent;
  border: 0;
  transition: opacity .3s;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 568px) {
  .popup-pic__toggle {
    position: static;
    align-self: flex-end;
    margin-bottom: 16px;
    width: 20px;
    height: 20px;
  }
}

.popup-pic__toggle:hover {
  opacity: .6;
}
