.popup__toggle {
  position: relative;
  align-self: end;
  cursor: pointer;
  right: -40px;
  top: -38px;
  size: 32px;
  background-color: transparent;
  border: 0;
  transition: opacity .3s;
}

@media screen and (max-width: 568px) {
  .popup__toggle {
    right: 0;
  }
}

.popup__toggle:hover {
  opacity: .6;
}
